<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>

        body {
            background-color: rgb(235, 235, 235)
        }

        .posts-container {
            background-color: white;
            margin: 1rem;
            padding: 1rem;
            border: 1px solid darkgray;
            border-radius: 0.5rem;
        }
    </style>
    <title>Posts</title>
</head>
<body>

    <div>
        <h1>Posts</h1> <span><a href="/posts/new" target="_blank">New post</a></span>
        <div>
            <% posts.forEach(post => { %>

                <div class="posts-container">
                    <h4><%= post.title %></h4>
                    <p><%= post.body %></p>
                    <small>Posted on <%= new Date(post.createdAt * 1e3).toISOString().slice(-13, -5); %></small>
                    <br>
                    <a href="/posts/details/<%=post.id%>" target="_blank">View post</a>
                </div>

            <% }) %>
        </div>

    </div>




</body>
</html>
